	<div id="colorlib-main">
			<section class="ftco-section contact-section">
	      <div class="container">
	        <div class="row d-flex mb-5 contact-info">
	          <div class="col-md-12 mb-4">
	            <h2 class="h4 font-weight-bold"> My Dashboard</h2>
	          </div>

	        </div>
	        <div class="row block-9">
	          <div class="col-md-8 order-md-last pr-md-5">
              <h4 class="h4 font-weight-bold"> All Contacts</h4>
              <table  class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col"> Edit/Delete</th>
                </tr>
              </thead>
              <tbody id="table">
                  {{#each contacts}}
                <tr>
                  <th scope="row"> <img src="images/profile.png" alt=""> </th>
                  <td>{{firstName}}</td>
                  <td>{{lastName}}</td>
                  <td>{{phone}}</td>
                  <td> <a href="/edit/{{id}}"> <img src="images/pencil.png" alt=""></a> || <a href="/delete/{{id}}"> <img src="images/cross.png" alt=""></a></td>
                </tr>
                  {{else}}
     
                <p class="Session-body">You don't have any  contacts yet.</p>

          
             {{/each}}

              </tbody>
            </table>

              <hr/> <br> <br>
              <h4 class="h4 font-weight-bold"> Create Contact</h4>


	            <form action="/create-contact" method="POST" id="createContactForm" >
	              <div class="form-group">
	                <input id="firstName" type="text" name="firstName" class="form-control" placeholder="First Name">
	              </div>
                <div class="form-group">
	                <input id="lastName" type="text" name="lastName" class="form-control" placeholder="Last Name">
	              </div>
                <div class="form-group">
	                <input id="phone" type="number" name="phone" class="form-control" placeholder="Phone Number">
	              </div>

	              <div class="form-group">
                  <input type="submit" value="Create Contact" class="btn btn-primary py-3 px-5">

	              </div>
	            </form>

	          </div>


	        </div>
	      </div>
	    </section>

  